// header
.header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgba(var(--color-canvas-default-rgb), 0.8);
  transition: var(--color-transition);
  backdrop-filter: blur(5px);
  overflow-y: hidden;
}

.headerContent {
  margin: 0 auto;
  max-width: 48rem;
  padding: 0 1.5rem;
}

// title
.titleBar {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.navContent {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: hidden;
  transition: height 0.2s ease-in-out;
  height: 0;

  li {
    padding: 0.825rem 0;
  }

  li:first-child {
    margin-top: 2rem;
  }
}

.navContentOpen {
  border-top: solid var(--color-border-subtle) var(--border-width-thin);
  height: calc(100vh - 4rem);
}

.navLink {
  color: var(--color-fg-default);
  font-family: var(--font-heading-default);
  font-weight: bold;
  font-size: 1.125rem;
}
