// header
.header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgba(var(--color-canvas-default-rgb), 0.8);
  transition: var(--color-transition-default);
  backdrop-filter: blur(5px);
  overflow-y: hidden;
}

.headerHome {
  background-color: transparent;
}

.headerContent {
  margin: 0 auto;
  max-width: 48rem;
  padding: 0 1.5rem;
  transition: max-width .1s ease-in;
}

.headerContentHome {
  max-width: 60rem;
}

// title
.titleBarWrapper {
  height: 4rem;
  overflow-y: hidden;
}

.titleBar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease-out;

  h3 {
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.alterTitle {
  transform: translateY(-100%);
}

.secondaryTitle {
  flex: 1;
  margin-left: 0.5rem;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.navContent {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: hidden;
  transition: height 0.2s ease-in-out;
  height: 0;

  li {
    padding: 0.825rem 0;
  }
}

.navContentOpen {
  border-top: solid var(--color-border-subtle) var(--border-width-thin);
  height: calc(100vh - 4rem);
}

.navLink {
  color: var(--color-fg-default);
  font-family: var(--font-heading-default);
  font-weight: bold;
  font-size: 1.125rem;
}
