@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));
  @return $randomNum;
}

@function addOrMinus($symbol) {
  @if $symbol {
    @return "";
  }
  @return "-";
}

@function minusOradd($symbol) {
  @if $symbol {
    @return "-";
  }
  @return "";
}

@for $i from 0 through 16 {
  $rand: randomNum(4, 8);
  $symbol: random() > 0.5;
  $symbol1: addOrMinus($symbol);
  $symbol2: minusOradd($symbol);
  // @debug $symbol, $rand;

  @keyframes shaking-#{$i + 1} {
    0% {
      transform: rotate(#{$symbol1}#{$rand}deg);
    }
    100% {
      transform: rotate(#{$symbol2}#{$rand}deg);
    }
  }
}

.shaking-text {
  letter-spacing: 0.2em;
  word-spacing: 0.2em;
  text-align: center;
  font-size: 8rem;
  color: var(--color-fg-default);

  & span {
    display: inline-block;
    position: relative;

    @for $i from 0 through 100 {
      &:nth-child(#{($i + 1)}) {
        animation: shaking-#{($i + 1) % 16} 0.4s infinite steps(2, jump-none) alternate;
      }
    }
  }
}
