.postItem {
  border-top: none;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 0 2rem 0;

  &::before {
    content: "";
  }

  &:not(:first-child) {
    border-top: solid var(--color-border-subtle) var(--border-width-thin);
  }
}

.title {
  margin: 1.25rem 0 1rem 0;
  margin-top: 0;

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    text-decoration: underline;
  }
}

.excerpt {
  color: var(--color-fg-subtle);

  p {
    margin: 0 0 1rem 0;
  }
}
