.list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  column-gap: 3rem;
  row-gap: 3rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.postItem {
  border-top: none;
  display: flex;
  flex-direction: column;
  flex: 50%;

  &:first-child {
    grid-column: 1/3;

    .image {
      aspect-ratio: 16/7;
    }
  }

  &::before {
    content: "";
  }
}

.lightText {
  color: rgba(var(--foreground-rgb), 0.4);
}

.image {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: contain;
  background: var(--secondary-glow);
}

.link {
  margin: 1.25rem 0 0.8rem 0;

  & > a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 890px) {
  .postItem:first-child {
    grid-column: 1/2;
    .image {
      aspect-ratio: 16/9;
    }
  }

  .image {
    aspect-ratio: 2;
  }

  .list {
    grid-template-columns: 1fr;
  }
}
