.contentBox {
  margin: 0 auto;
  margin-top: 3rem;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 3/2;
}

.mobileContent {
  overflow: hidden;
  background: rgba(var(--callout-rgb), 0.8);
  border-bottom: 3px solid rgba(var(--card-border-rgb), 0.25);
  border-top: none;
  padding: 1rem;

  h1,
  p {
    margin: 0.5rem 0;
    font-size: 1rem;
  }

  a {
    font-size: 0.825rem;
  }

  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}
