.button {
  height: 24px;
  width: 24px;
  position: relative;
  cursor: pointer;
  user-select: none;
  color: rgba(var(--foreground-rgb), 0.5);
}

// .button::before,
// .button::after {
//   content: "";
//   position: absolute;
//   top: 8px;
//   width: 80%;
//   height: 2px;
//   border-radius: 99px;
//   background: currentColor;
//   transition: transform 0.35s cubic-bezier(0.42, 0, 0.45, 1.83);
// }

.button::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 10px;
  height: 10px;
  border-top: 2px solid currentColor;
  border-right: 2px solid currentColor;
  stroke-linecap: round;
  transform: rotate(-45deg);
}

.button::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 11px;
  width: 2px;
  height: 60%;
  border-radius: 2px;
  background-color: currentColor;
}

// .button::after {
//   top: 16px;
// }

// .button.active {
//   &::before {
//     transform: translateY(4px) rotate(-45deg);
//   }

//   &::after {
//     transform: translateY(-4px) rotate(45deg);
//   }
// }
