@font-face {
  font-family: "Sanchez Slab";
  src: url(/fonts/SanchezSlab.otf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Sanchez Slab";
  src: url(/fonts/SanchezSlab-Light.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Sanchez Slab";
  src: url(/fonts/SanchezSlab-ExtraLigh.otf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Sanchez Slab";
  src: url(/fonts/SanchezSlab-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Sanchez Slab";
  src: url(/fonts/SanchezSlab-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Sanchez Slab";
  src: url(/fonts/SanchezSlab-Black.otf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Smiley Sans";
  src: url(/fonts/SmileySans-Oblique.ttf.woff2);
}
