@font-face {
  font-family: "Sanchez Slab";
  src: url(SanchezSlab.otf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Sanchez Slab";
  src: url(SanchezSlab-Light.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Sanchez Slab";
  src: url(SanchezSlab-ExtraLigh.otf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Sanchez Slab";
  src: url(SanchezSlab-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Sanchez Slab";
  src: url(SanchezSlab-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Sanchez Slab";
  src: url(SanchezSlab-Black.otf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Smiley Sans";
  src: url(SmileySans-Oblique.ttf.woff2);
}
