.container {
  width: 100%;
}

.canvas {
  margin: 1rem 0;
  width: 100%;
  height: 300px;
}

.select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  padding: 0.825rem;
  border-radius: var(--border-radius);

  &:focus {
    outline: none;
  }
}
