.container {
  width: 960px;
  max-width: 100%;
  min-height: 200px;
  max-height: 640px;
  border: 1px solid rgba(var(--card-border-rgb), 0.25);
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0.1);
  position: relative;
  transition: width 0.5s ease-in-out;
}

.header {
  padding: 0 1rem;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  border-top: 1px solid transparent;
  border-bottom: 1px solid rgba(var(--card-border-rgb), 0.25);
  background: rgba(var(--callout-rgb), 0.5);
}

.title {
  margin: 0.5rem;
}

.child-container {
  padding: 2rem 0;
}
