.button {
  color: var(--color-fg-default);
  background-color: transparent;
  cursor: pointer;
  border-radius: var(--border-radius-small);
  border: none;
  padding: 3px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  transition: color ease-out 0.3s;
}