.container {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  margin-bottom: 2rem;
}

.textContainer {
  margin-left: 0.5rem;
  p {
    margin: 0;
    font-size: 0.825rem;

    &:first-of-type {
      font-size: 1.125rem;
      margin-bottom: 0.1rem;
      color: rgba(var(--foreground-rgb), 1);
    }
  }
}

@media screen and (min-width: 891px) {
  .textContainer {
    p,
    p:first-of-type {
      font-size: 1.15rem;
    }
  }

  .avatar {
    height: 80px;
    width: 80px;
    border-radius: 108px;
  }
}
