.button {
  height: 24px;
  width: 24px;
  position: relative;
  cursor: pointer;
  user-select: none;
  color: rgba(var(--foreground-rgb), 0.5);
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 92.5%;
  height: 1.5px;
  background: currentColor;
  transition: transform 0.35s cubic-bezier(0.42, 0, 0.45, 1.83);
}

.button::after {
  top: 16px;
}

.button.active {
  &::before {
    transform: translateY(4px) rotate(-45deg);
  }

  &::after {
    transform: translateY(-4px) rotate(45deg);
  }
}
