// @font-face {
//   font-family: "Sanchez Slab";
//   src: url(/fonts/SanchezSlab.otf);
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Sanchez Slab";
//   src: url(/fonts/SanchezSlab-Light.otf);
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Sanchez Slab";
//   src: url(/fonts/SanchezSlab-ExtraLight.otf);
//   font-weight: 200;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Sanchez Slab";
//   src: url(/fonts/SanchezSlab-SemiBold.otf);
//   font-weight: 600;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Sanchez Slab";
//   src: url(/fonts/SanchezSlab-Bold.otf);
//   font-weight: 700;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Sanchez Slab";
//   src: url(/fonts/SanchezSlab-Black.otf);
//   font-weight: 600;
//   font-style: normal;
// }

// @font-face {
//   font-family: "WF Visual Sans Text";
//   src: url(/fonts/WFVisualSans-RegularText.woff2);
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: "WF Visual Sans Text";
//   src: url(/fonts/WFVisualSans-SemiBoldText.woff2);
//   font-weight: 600;
//   font-style: normal;
// }

// @font-face {
//   font-family: "WF Visual Sans";
//   src: url(/fonts/WFVisualSans-SemiBold.woff2);
//   font-weight: 600;
//   font-style: normal;
// }

// @font-face {
//   font-family: "WF Visual Sans";
//   src: url(/fonts/WFVisualSans-Medium.woff2);
//   font-weight: 500;
//   font-style: normal;
// }

@font-face {
  font-family: "Pangea";
  src: url(/fonts/Pangea-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Pangea Text";
  src: url(/fonts/PangeaText-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Pangea Text";
  src: url(/fonts/PangeaText-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pangea Text";
  src: url(/fonts/PangeaText-Light.woff2);
  font-weight: 300;
  font-style: normal;
}
