.markdown-body {
  line-height: 1.5;
  word-wrap: break-word;

  p {
    margin-bottom: 1rem;
  }

  blockquote {
    margin: 0;
    padding: 0 1em;
    color: var(--color-fg-muted);
    border-left: 0.25em solid var(--color-border-default);
  }

  ul {
    padding-left: 1.5rem;
    margin: 1.25rem 0;
    list-style-type: none;
  }

  ul > li {
    margin-bottom: 0.5em;

    &::before {
      content: "-";
      color: var(--color-fg-subtle);
      position: absolute;
      margin-left: -1em;
    }
  }

  img {
    width: 100%;
    min-height: 10rem;
    object-fit: scale-down;
    background-color: var(--color-canvas-subtle);
    border-radius: var(--border-radius-medium);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading-default);
}

code {
  font-family: var(--font-mono-default);
  padding: 0.2em 0.4em;
  font-size: 85%;
  background-color: var(--color-neutral-muted);
  border-radius: 6px;
}

div[data-rehype-pretty-code-fragment] {
  pre {
    background-color: var(--color-pre-dark) !important;
    border-radius: var(--border-radius-medium);
    padding: 0.825rem;
    overflow-x: auto;

    code {
      color: unset;
      padding: 0;
      font-size: 85%;
      background: none;
      text-wrap: nowrap;
      width: min-content;
    }
  }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown-body table {
  display: block;
  width: 100%;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

table tr {
  background-color: var(--color-canvas-default);
  border-top: 1px solid var(--color-border-muted);
}

table th,
table td {
  padding: 6px 13px;
  border: 1px solid var(--borderColor-default, var(--color-border-default));
}

table th {
  font-weight: var(--base-text-weight-semibold, 600);
}
