[data-markdown-body] {
  line-height: 1.5;
  word-wrap: break-word;

  p {
    margin-bottom: 1rem;
  }

  blockquote {
    margin: 0;
    padding: 0 1em;
    color: var(--color-fg-muted);
    border-left: 0.25em solid var(--color-border-default);
  }

  ol,
  ul {
    padding-left: 1.5rem;
    margin: 1.25rem 0;
  }

  ol > li,
  ul > li {
    margin-bottom: 0.5em;
  }

  iframe {
    width: 100%;
    border-radius: var(--border-radius-medium);
  }
}

[data-markdown-body] figure {
  margin-inline-start: 0;
  margin-inline-end: 0;
}

[data-markdown-body] img {
  display: inline-block;
  min-height: 4rem;
  width: 100%;
  min-width: min(10rem, 100%);
  object-fit: contain;
  border-radius: var(--border-radius-medium);
  background-color: var(--color-img-bg);
  // border: 1px solid var(--color-border-subtle);
  box-shadow: var(--shadow-card-default);
}

@media screen and (max-width: 900px) {
  [data-markdown-body] img {
    max-height: 100vh;
  }
}

@media screen and (min-width: 901px) {
  [data-markdown-body] img {
    max-height: 35rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading-default);
}

* {
  border: 0 solid #e5e7eb;
}

[data-line] {
  border-left-width: 2px;
  border-left-color: #0000;
  padding-left: 1rem;
  padding-right: 1rem;
}

[data-highlighted-line] {
  background: #3c3e45;
  --border-opacity: 1;
  border-left-width: 4px;
  border-left-color: rgb(96 165 250 / var(--border-opacity));
}

[data-highlighted-chars] {
  border-radius: 0.25rem;
  padding: 0.25rem;
  font-weight: 700;
  background-color: #52525b80;
}

[data-chars-id] {
  border-bottom-width: 2px;
  padding: 0.125em 0.175em;
  box-shadow: 0 0 #000, 0 0 #000;
}

[data-chars-id="s"],
[data-chars-id="v"],
[data-chars-id="i"] {
  --border-opacity: 1;
  font-weight: 700;
  --text-opacity: 1;
}

[data-chars-id="v"] {
  border-bottom-color: rgb(219 39 119 / var(--border-opacity));
  background-color: #9f123980;
  color: rgb(249 168 212 / var(--text-opacity)) !important;
}

[data-chars-id="s"] {
  border-bottom-color: rgb(202 138 4 / var(--border-opacity));
  background-color: #854d0e80;
  color: rgb(253 224 71 / var(--text-opacity)) !important;
}

[data-chars-id="i"] {
  border-bottom-color: rgb(147 51 234 / var(--border-opacity));
  background-color: #6b21a880;
  color: rgb(233 213 255 / var(--text-opacity)) !important;
}

code {
  font-family: var(--font-mono-default);
  padding: 0.175em 0.375em;
  font-size: 0.875em;
  background-color: var(--color-neutral-muted);
  border-radius: 6px;
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: invert($color: #7979794f);
}

[data-rehype-pretty-code-figure] {
  [data-rehype-pretty-code-title] {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 0.875em;
    border: 1px solid var(--color-border-default);
    border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
  }

  & > :first-child {
    margin-top: 1rem;
  }

  pre:not(:first-child) {
    margin-top: 0;
    border: 1px solid var(--color-border-default);
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  pre {
    border: 1px solid var(--color-border-default);
    border-radius: var(--border-radius-medium);
    background-color: var(--color-canvas-subtle);
    padding: 0.825rem 0;
    overflow-x: auto;
  }

  pre > code {
    padding: unset;
    background-color: unset;
    line-height: unset;
  }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

[data-markdown-body] table {
  display: block;
  width: 100%;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

table tr {
  background-color: var(--color-canvas-default);
  border-top: 1px solid var(--color-border-muted);
}

table th,
table td {
  padding: 6px 13px;
  border: 1px solid var(--borderColor-default, var(--color-border-default));
}

table th {
  font-weight: var(--base-text-weight-semibold, 600);
}
