.page-loading-enter,
.page-loading-appear,
.page-loading-exit-done {
  opacity: 0;
}

.page-loading-enter-active,
.page-loading-appear-active {
  opacity: 1;
  transition: all 0.1s ease-in-out;
}

.page-loading-enter-done,
.page-loading-appear-done,
.page-loading-exit {
  opacity: 1;
}

.page-loading-exit-active {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
