.contentLayout {
  max-width: 48rem;
  padding: 0 1rem;
  padding-bottom: 1rem;
  margin: 1rem auto 0rem;
  margin-top: 1rem;
  transition: max-width 0.1s ease-in;
}

.footer {
  max-width: 48rem;
  padding: 0 1rem;
  height: 1rem;
  margin: 3rem auto;
  margin-bottom: calc(3rem + env(safe-area-inset-bottom));
  display: flex;
  justify-content: space-between;
}

.backToHome {
  font-size: 0.95rem;
}
