.contentLayout {
  max-width: 48rem;
  padding: 0 1rem;
  margin: 1rem auto 0rem;
  margin-top: 5rem;
}

.footer {
  max-width: 48rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem auto;
  display: flex;
  justify-content: space-between;
}

.backToHome {
  font-size: 0.95rem;
}
