.container {
  max-width: 52rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}

.headerTitle {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 0;
  position: relative;

  a {
    color: inherit;
  }

  &::after {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    filter: blur(45px);
    transform: translateZ(0);
    background: var(--primary-glow);
    width: 240px;
    height: 180px;
    z-index: -1;
  }
}

.daynight {
  margin: 2rem;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.backToHome {
  margin: 3rem 0 0;
  font-size: 0.95rem;
}

.headerNav {
  width: 100%;
}
