.video-container {
  width: 100%;
}

.video-tag {
  min-height: 200px;
  max-height: 640px;
  width: 100%;
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  max-width: 100%;
  background: rgba(var(--callout-rgb), 0.5);
}
