@mixin primer-colors {
  & {
    --color-fg-default: #e6edf3;
    --color-fg-muted: #7d8590;
    --color-fg-subtle: #6e7681;
    --color-fg-on-emphasis: #ffffff;
    --color-canvas-default: #0d1117;
    --color-canvas-default-rgb: 13, 17, 23;
    --color-canvas-overlay: #161b22;
    --color-canvas-inset: #010409;
    --color-canvas-subtle: #161b22;
    --color-border-default: #30363d;
    --color-border-muted: #21262d;
    --color-border-subtle: rgba(240, 246, 252, 0.1);
    --color-shadow-small: 0 0 transparent;
    --color-shadow-medium: 0 3px 6px #010409;
    --color-shadow-large: 0 8px 24px #010409;
    --color-shadow-extra-large: 0 12px 48px #010409;
    --color-neutral-emphasis-plus: #6e7681;
    --color-neutral-emphasis: #6e7681;
    --color-neutral-muted: rgba(110, 118, 129, 0.4);
    --color-neutral-subtle: rgba(110, 118, 129, 0.1);
    --color-accent-fg: #2f81f7;
    --color-accent-emphasis: #1f6feb;
    --color-accent-muted: rgba(56, 139, 253, 0.4);
    --color-accent-subtle: rgba(56, 139, 253, 0.1);
    --shadow-card-default: rgba(255, 255, 255, 0.1) 0px 0px 0px 1px;
    --glow-primary: var(
      --light-grad-pink-blue,
      radial-gradient(ellipse at 40% 0%, #bf39893b 0, transparent 75%),
      radial-gradient(ellipse at 60% 0%, #096dde32 0, transparent 75%)
    );
  }
}
