:root {
  --border-radius-small: 3px;
  --border-radius-medium: 6px;
  --border-radius-large: 12px;
  --border-radius-full: 100vh;
  --border-width-thin: max(1px, 0.0625rem);
  --border-width-thick: max(2px, 0.125rem);
  --border-width-thicker: max(4px, 0.25rem);
}
