@use "./light";
@use "./dark";

@import "./breakpoints.scss";
@import "./border.scss";

@import "./color-modes.scss";
@import "./blog-content.scss";

@import url("/fonts/stylesheet.css");

:root {
  --font-mono-default: Menlo, Monaco, "Cascadia Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --font-text-default: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --color-pre-dark: #161b22;
}

@include color-mode-theme(light) {
  @include light.primer-colors();
}

@include color-mode-theme(dark) {
  @include dark.primer-colors();
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 100vw;
}

body {
  color: var(--color-fg-default);
  background-color: var(--color-canvas-default);
  font-family: var(--font-text-default);
  transition: color 0.15s ease-out, background-color 0.15s ease-out;
  position: relative;
}

a {
  color: var(--color-accent-fg);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  font-family: var(--font-mono-default);
}

html {
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: "Sanchez Slab", var(--font-text-default);
}