.svg {
  color: rgba(var(--foreground-rgb), 0.5);
  stroke: currentColor;
  fill: none;
  cursor: pointer;
  user-select: none;
}

.circle {
  stroke-width: 0;
  fill: currentColor;
}

.button {
  border: none;
  background: transparent;
  display: inline-block;
  cursor: pointer;
  padding-top: 4px;
}
