.svg {
  color: rgba(var(--foreground-rgb), 0.5);
  stroke: currentColor;
  fill: none;
  height: 20px;
}

.circle {
  stroke-width: 0;
  fill: currentColor;
}

.button {
  color: var(--color-fg-muted);
  background-color: var(--color-canvas-default);
  border-color: var(--color-border-subtle);
  border-radius: var(--border-radius-small);
  border-style: solid;
  border-width: 1px;
  padding: 3px 3px;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 48px;
  transition: color ease-out .3s, background-color ease-out .3s;
}

.button:hover {
  color: var(--color-fg-default);
  background-color: var(--color-canvas-subtle);
  border-color: var(--color-border-default);
}