.svg {
  color: rgba(var(--foreground-rgb), 0.5);
  stroke: currentColor;
  fill: none;
  height: 20px;
}

.circle {
  stroke-width: 0;
  fill: currentColor;
}

.button {
  color: var(--color-fg-muted);
  background-color: transparent;
  cursor: pointer;
  border-radius: var(--border-radius-small);
  border: none;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  transition: color ease-out 0.3s;
}

.button:hover {
  color: var(--color-fg-default);
  border-color: var(--color-border-default);
}
